<div id="<%= dom_id book %>">
  <p>
    <strong>Title:</strong>
    <%= book.title %>
  </p>

  <p>
    <strong>Author:</strong>
    <%= book.author %>
  </p>

  <p>
    <strong>Series:</strong>
    <%= book.series %>
  </p>

  <p>
    <strong>Alternate ids:</strong>
    <%= book.alternate_ids %>
  </p>

</div>
